html {
	background-color: #252525;
}

body {
	margin: 0px;
}

div {
	position: relative;
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 700px;
	height: 100px;
	border-radius: 10px;
	padding: 1px;
}

div#r1 {
	background-color: #717d7e;
	height: 370px;
}

div#r2 {
	background-color: #717d7e;
	height: 370px;
}

div#n1 {
	background-color: #00a877;
	cursor: pointer;
}

div#n1:hover {
	background-color: #008f65;
}

div#n2 {
	background-color: orchid;
	cursor: pointer;
}

div#n2:hover {
	background-color: #d55cd0;
}

h1 {
	font-family: helvetica;
	color: white;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}

p {
	color: mintcream;
	font-family: helvetica;
	font-weight: bold;
	font-size: 50px;
	position: relative;
	text-align: center;
}