html {
	background-color: #252525;
}

body {
	margin: 0px;
}

div {
	position: relative;
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 900px;
	height: 100px;
	border-radius: 10px;
	padding: 1px;
}

.div_buttons {
	transform: translateX(50px);
	width: 1000px;
	/*background-color: blue;*/
}

div#hour_button {
	position: relative;
	float:left;
	margin: auto;
	margin-right: 58px;
	margin-top: 15px;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	padding: 1px;
	background-color: #5d6d7e;
	cursor: pointer;
}

div#hour_button:hover {
	opacity: 80%;
	transition-duration: 0.3s;
}

div#hour_button>p {
	position: absolute;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0;
	text-align: center;
	color: whitesmoke;
	font-size: 45px;
	width: 100px;
	height: 100px;
	top: 25%;
}

div#r1 {
	background-color: #5d6d7e;
	height: 370px;
}

div#r2 {
	background-color:  #5d6d7e ;
	height: 370px;
}

div#n1 {
	background-color: #00a877;
	cursor: pointer;
}

div#n1:hover {
	background-color: #008f65;
	transition-duration: 0.3s;
}

div#n2 {
	background-color: orchid;
	cursor: pointer;
}

div#n2:hover {
	background-color: #d55cd0;
	transition-duration: 0.3s;
}

h1 {
	font-family: helvetica;
	color: white;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}

p {
	color: mintcream;
	font-family: helvetica;
	font-weight: bold;
	font-size: 90px;
	text-align: center;
	margin: 14;
}

span#horloge {
	color: mintcream;
	font-size: 200px;
	border-radius: 10px;
    display: table;
    margin: 0 auto;
    margin-top: 125px;
}